<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
    
            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Datos de la Persona</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="Nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresar su nombre..." #nombre>
                        </div>
                        <div class="form-group">
                            <label for="Apellido">Apellido</label>
                            <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar su Apellido..." #apellido>
                        </div>
                        <div class="form-group">
                            <label for="Edad">Edad</label>
                            <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar su Edad..." #edad>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value,apellido.value,edad.value)" >Guardar y Listar</button>
                        <button type="submit" class="btn btn-primary" (click)="limpiar()" >Borrar y Limpiar pantalla</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row=flex">
        <app-ver-personal *ngFor="let aux of personas" [person]=aux></app-ver-personal>
    </div>
</div>