<div class="container content">
    <div class="row">
        <div>
            Nombre: {{person.nombre}}
            <br>
            Apellido: {{person.apellido}}
            <br>
            Edad: {{person.edad}};
            <br>
            ******************************
            <br>
        </div>
    </div>
</div>