<div class="container content">
    <div class="row">
        <div class="col-md-6">
            Prueba de hola OSITO en Angular
        </div>
        <div class="col-md-6">
            Osito maraca
        </div>
    </div>
</div>